In [1]:
!pip install -e git+https://github.com/smirnov-am/pyfinmod.git#egg=pyfinmod

Obtaining pyfinmod from git+https://github.com/smirnov-am/pyfinmod.git#egg=pyfinmod
  Cloning https://github.com/smirnov-am/pyfinmod.git to ./src/pyfinmod
  Running command git clone -q https://github.com/smirnov-am/pyfinmod.git '/Users/new/Desktop/FinTech자료/pyfinmod-master (2)/src/pyfinmod'
Requirement already satisfied: pandas>=0.23.4 in /Users/new/anaconda3/lib/python3.7/site-packages (from pyfinmod) (0.24.2)
Requirement already satisfied: python-dateutil>=2.7.5 in /Users/new/anaconda3/lib/python3.7/site-packages (from pyfinmod) (2.8.0)
Requirement already satisfied: scipy>=1.1.0 in /Users/new/anaconda3/lib/python3.7/site-packages (from pyfinmod) (1.2.1)
Requirement already satisfied: requests>=2.21.0 in /Users/new/anaconda3/lib/python3.7/site-packages (from pyfinmod) (2.21.0)
Requirement already satisfied: beautifulsoup4>=4.7.1 in /Users/new/anaconda3/lib/python3.7/site-packages (from pyfinmod) (4.7.1)
Requirement already satisfied: tables>=3.4.4 in /Users/new/anaconda3/lib/python3.7/site-packages (from pyfinmod) (3.5.1)
Requirement already satisfied: numpy>=1.12.0 in /Users/new/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.4->pyfinmod) (1.16.2)
Requirement already satisfied: pytz>=2011k in /Users/new/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.4->pyfinmod) (2018.9)
Requirement already satisfied: six>=1.5 in /Users/new/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.5->pyfinmod) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/new/anaconda3/lib/python3.7/site-packages (from requests>=2.21.0->pyfinmod) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/new/anaconda3/lib/python3.7/site-packages (from requests>=2.21.0->pyfinmod) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/new/anaconda3/lib/python3.7/site-packages (from requests>=2.21.0->pyfinmod) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/new/anaconda3/lib/python3.7/site-packages (from requests>=2.21.0->pyfinmod) (3.0.4)
Requirement already satisfied: soupsieve>=1.2 in /Users/new/anaconda3/lib/python3.7/site-packages (from beautifulsoup4>=4.7.1->pyfinmod) (1.8)
Requirement already satisfied: numexpr>=2.6.2 in /Users/new/anaconda3/lib/python3.7/site-packages (from tables>=3.4.4->pyfinmod) (2.6.9)
Requirement already satisfied: mock>=2.0 in /Users/new/anaconda3/lib/python3.7/site-packages (from tables>=3.4.4->pyfinmod) (3.0.5)
Installing collected packages: pyfinmod
  Found existing installation: pyfinmod 0.0.1
    Uninstalling pyfinmod-0.0.1:
      Successfully uninstalled pyfinmod-0.0.1
  Running setup.py develop for pyfinmod
Successfully installed pyfinmod

## 1. Basic calculations 
### Net present Value (순현재가치)

In [1]:
import pandas as pd
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta
dates = [date.today() + relativedelta(months=i) for i in range(13)]
df = pd.DataFrame(data={'cash flow': [-100] + [10]*12, # 현금흐름은 예시임
                        'date': dates})
annual_discount_rate = 0.1
from pyfinmod.basic import npv
npv(df, annual_discount_rate)

13.986322356973966

### Internal rate of returns 
### (내부수익률_현재가치를 0으로 만들어주는 이자율)

In [2]:
from pyfinmod.basic import irr
dates = [date.today() + relativedelta(years=i) for i in range(6)]
df3 = pd.DataFrame(data={'cash flow': [-145, 100, 100, 100, 100, -275],                              'date': dates})
irr(df3, guess=0.1)

[0.08775586797252909]

### Payment for a loan based on constant payments and a constant interest rate <a name="pmt"></a>

### (대출금을 12개월 분할 납부할 때, 월별 납부액)

In [3]:
from pyfinmod.basic import pmt
pmt(principal=100, annual_interest_rate=0.3, term=12, period='month')

9.57859525723352

### Future value (미래가치)

In [4]:
from pyfinmod.basic import fv
fv(deposits=[1000 for _ in range(10)], annual_interest_rate=0.1,
   period='year')

17531.16706110001

## 2. Continuously compounded interest rate <a name="icc"></a>

In [5]:
df = pd.DataFrame(data={'amount': [1000, 1500], 'date': [date.today(), date.today() + relativedelta(years=1, months=9)]})
from pyfinmod.basic import get_annual_rate_cc
get_annual_rate_cc(df)

0.23169434749037965

## 3. Yahoo Finance parser

In [6]:
from pyfinmod.yahoo_finance import YahooFinanceParser

parser = YahooFinanceParser('000660.KS')
parser.get_dataframe('balance-sheet').head(5)

,2018,2017,2016,2015
row name,,,,
Cash And Cash Equivalents,2349319000000,2949991000000,613786000000,1175719000000
Short Term Investments,5786452000000,5370181000000,3438173000000,3615554000000
Net Receivables,6727532000000,5853397000000,3425345000000,2687787000000
Inventory,4422733000000,2640439000000,2026198000000,1923376000000
Other Current Assets,348046000000,274025000000,96649000000,13155000000

## transpose

In [7]:
import numpy as np
from pyfinmod.yahoo_finance import YahooFinanceParser

parser = YahooFinanceParser('000660.KS')
parser.get_dataframe('balance-sheet')
df = parser.get_dataframe('balance-sheet')

#행열 변환 
df2 = np.transpose(df)

In [8]:
df2

row name,Cash And Cash Equivalents,Short Term Investments,Net Receivables,Inventory,Other Current Assets,Total Current Assets,Long Term Investments,"Property, plant and equipment",Goodwill,Intangible Assets,...,Misc. Stocks Options Warrants,Redeemable Preferred Stock,Preferred Stock,Common Stock,Retained Earnings,Treasury Stock,Capital Surplus,Other Stockholder Equity,Total stockholders' equity,Net Tangible Assets
2018,2349319000000,5786452000000,6727532000000,4422733000000,348046000000,19894146000000,4887778000000,34952617000000,709811000000,815003000000,...,0,0,0,3657652000000,42033601000000,-2989270000000,4143736000000,-480843000000,46845719000000,45320905000000
2017,2949991000000,5370181000000,5853397000000,2640439000000,274025000000,17310444000000,403090000000,24062601000000,695073000000,669967000000,...,0,0,0,3657652000000,27287256000000,-1273364000000,4143736000000,-501451000000,33815280000000,32450240000000
2016,613786000000,3438173000000,3425345000000,2026198000000,96649000000,9838982000000,278795000000,18777402000000,730204000000,555505000000,...,0,0,0,3657652000000,17066583000000,-851016000000,4143736000000,-79103000000,24016955000000,22731246000000
2015,1175719000000,3615554000000,2687787000000,1923376000000,13155000000,9760030000000,254393000000,16966252000000,720755000000,500811000000,...,0,0,0,3657652000000,14358988000000,-773513000000,4143736000000,-1600000000,21386863000000,20165297000000

## 자동 transepose 함수

In [9]:
from pyfinmod.yahoo_finance import YahooFinanceParser
import numpy as np
from pandas import Series, DataFrame


def csl(x):
    parser = YahooFinanceParser(x)
    df=parser.get_dataframe('income-statement')
    #df2=np.transpose(df)
    #df2.insert(0,"companyname",x)
    return(df)

In [10]:
def csl2(x):
    parser = YahooFinanceParser(x)
    df_1=parser.get_dataframe('balance-sheet')
    #df_2=np.transpose(df_1)
    #df_2.insert(0,"companyname",x)
    return(df_1)

df3=csl2('000660.KS')
df3.head()

,2018,2017,2016,2015
row name,,,,
Cash And Cash Equivalents,2349319000000,2949991000000,613786000000,1175719000000
Short Term Investments,5786452000000,5370181000000,3438173000000,3615554000000
Net Receivables,6727532000000,5853397000000,3425345000000,2687787000000
Inventory,4422733000000,2640439000000,2026198000000,1923376000000
Other Current Assets,348046000000,274025000000,96649000000,13155000000

In [11]:
df2.head()

row name,Cash And Cash Equivalents,Short Term Investments,Net Receivables,Inventory,Other Current Assets,Total Current Assets,Long Term Investments,"Property, plant and equipment",Goodwill,Intangible Assets,...,Misc. Stocks Options Warrants,Redeemable Preferred Stock,Preferred Stock,Common Stock,Retained Earnings,Treasury Stock,Capital Surplus,Other Stockholder Equity,Total stockholders' equity,Net Tangible Assets
2018,2349319000000,5786452000000,6727532000000,4422733000000,348046000000,19894146000000,4887778000000,34952617000000,709811000000,815003000000,...,0,0,0,3657652000000,42033601000000,-2989270000000,4143736000000,-480843000000,46845719000000,45320905000000
2017,2949991000000,5370181000000,5853397000000,2640439000000,274025000000,17310444000000,403090000000,24062601000000,695073000000,669967000000,...,0,0,0,3657652000000,27287256000000,-1273364000000,4143736000000,-501451000000,33815280000000,32450240000000
2016,613786000000,3438173000000,3425345000000,2026198000000,96649000000,9838982000000,278795000000,18777402000000,730204000000,555505000000,...,0,0,0,3657652000000,17066583000000,-851016000000,4143736000000,-79103000000,24016955000000,22731246000000
2015,1175719000000,3615554000000,2687787000000,1923376000000,13155000000,9760030000000,254393000000,16966252000000,720755000000,500811000000,...,0,0,0,3657652000000,14358988000000,-773513000000,4143736000000,-1600000000,21386863000000,20165297000000

In [12]:
df3.head()

,2018,2017,2016,2015
row name,,,,
Cash And Cash Equivalents,2349319000000,2949991000000,613786000000,1175719000000
Short Term Investments,5786452000000,5370181000000,3438173000000,3615554000000
Net Receivables,6727532000000,5853397000000,3425345000000,2687787000000
Inventory,4422733000000,2640439000000,2026198000000,1923376000000
Other Current Assets,348046000000,274025000000,96649000000,13155000000

In [14]:
import pandas as pd
df_concat = pd.concat([df2 ,df3])
df_concat.head()

/Users/new/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Accounts Payable,Accumulated Amortization,Capital Surplus,Cash And Cash Equivalents,Common Stock,Deferred Long Term Asset Charges,Deferred Long Term Liability Charges,Goodwill,Intangible Assets,Inventory,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Liabilities,Total stockholders' equity,Treasury Stock,2018,2017,2016,2015
2018,1.096380e+12,0.0,4.143736e+12,2.349319e+12,3.657652e+12,5.440160e+11,1.153956e+12,7.098110e+11,8.150030e+11,4.422733e+12,...,6.365834e+13,1.989415e+13,1.303185e+13,1.680600e+13,4.684572e+13,-2.989270e+12,NaN,NaN,NaN,NaN
2017,7.585780e+11,0.0,4.143736e+12,2.949991e+12,3.657652e+12,5.997830e+11,8.822500e+11,6.950730e+11,6.699670e+11,2.640439e+12,...,4.541846e+13,1.731044e+13,8.116133e+12,1.159754e+13,3.381528e+13,-1.273364e+12,NaN,NaN,NaN,NaN
2016,6.961440e+11,0.0,4.143736e+12,6.137860e+11,3.657652e+12,7.923680e+11,6.298820e+11,7.302040e+11,5.555050e+11,2.026198e+12,...,3.221603e+13,9.838982e+12,4.160849e+12,8.192496e+12,2.401696e+13,-8.510160e+11,NaN,NaN,NaN,NaN
2015,7.913730e+11,0.0,4.143736e+12,1.175719e+12,3.657652e+12,3.612040e+11,4.833300e+11,7.207550e+11,5.008110e+11,1.923376e+12,...,2.967791e+13,9.760030e+12,4.840698e+12,8.290203e+12,2.138686e+13,-7.735130e+11,NaN,NaN,NaN,NaN
Cash And Cash Equivalents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.349319e+12,2.949991e+12,6.137860e+11,1.175719e+12

In [15]:
df_trans = np.transpose(df_concat)
df_trans.head()

,2018,2017,2016,2015,Cash And Cash Equivalents,Short Term Investments,Net Receivables,Inventory,Other Current Assets,Total Current Assets,...,Misc. Stocks Options Warrants,Redeemable Preferred Stock,Preferred Stock,Common Stock,Retained Earnings,Treasury Stock,Capital Surplus,Other Stockholder Equity,Total stockholders' equity,Net Tangible Assets
Accounts Payable,1.096380e+12,7.585780e+11,6.961440e+11,7.913730e+11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accumulated Amortization,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Surplus,4.143736e+12,4.143736e+12,4.143736e+12,4.143736e+12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash And Cash Equivalents,2.349319e+12,2.949991e+12,6.137860e+11,1.175719e+12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Common Stock,3.657652e+12,3.657652e+12,3.657652e+12,3.657652e+12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
def csl3(x):
    df1 = csl(x)
    df2 = csl2(x)
    df_concat11 = pd.concat([df1 ,df2])
    df_trans11 = np.transpose(df_concat11)
    df_trans11.insert(0,"companyname",x)
    return(df_trans11)
csl3('071320.KS')

row name,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,Operating Income or Loss,...,Misc. Stocks Options Warrants,Redeemable Preferred Stock,Preferred Stock,Common Stock,Retained Earnings,Treasury Stock,Capital Surplus,Other Stockholder Equity,Total stockholders' equity,Net Tangible Assets
2018,071320.KS,2487330695000,2374123517000,113207177000,9642562000,80128592000,0,1688091000,2473164696000,14165998000,...,0,0,0,57893720000,1390676928000,-2131618000,113713456000,-2131618000,1560152485000,1481150227000
2017,071320.KS,1834422361000,1625866796000,208555565000,9003795000,71812291000,0,1574215000,1715051434000,119370927000,...,0,0,0,57893720000,1658220879000,-95502000,113713456000,-95502000,1829732552000,1749876025000
2013,071320.KS,2878599260000,2570638509000,307960750000,10048622000,62139766000,0,1110875000,2648615281000,229983978000,...,0,0,0,57893720000,1429921037000,-1506756000,113713456000,-1506756000,1600021456000,1546060695000
2012,071320.KS,2809566616000,2498020325000,311546290000,7500284000,55353329000,0,1043171000,2566657440000,242909175000,...,0,0,0,57893720000,1354094852000,-1896611000,113713456000,-1896611000,1523805416000,1466476867000

### balance와 신용등급(raw)

In [17]:
import pandas as pd
x=['071320.KS','005380.KS','036460.KS','017670.KS','055550.KS','316140.KS','086790.KS','086790.KS',
   '139130.KS','002380.KS','004020.KS','004170.KS','032640.KS','051600.KS','015760.KS','072710.KS','023530.KS','005300.KS',
   '002270.KS','006400.KS','000660.KS','066570.KS','008770.KS','078930.KS','298040.KS','138930.KS','101530.KS','000080.KS',
   '060980.KS','051500.KQ','213500.KS','011780.KS','103140.KS','298040.KS','042670.KS','034020.KS','123040.KQ','011160.KS',
   '068790.KQ','027740.KS','043200.KQ','090370.KS','016380.KS']
y=[]



for i in range(len(x)):
    k2=csl3(x[i]) #추가하려는 애
    if len(x[i]):
        y.append(k2)
    
df5=pd.concat(y)

In [18]:
import pandas as pd
df_test = pd.DataFrame(df5)
df_test.to_csv("testdata2.csv")

In [19]:
datasetb = pd.read_csv("testdata2.csv")
#for i in range(len(dataset)):
datasetb.rename(columns={"Unnamed: 0":"year"}, inplace = True)
datasetb

,year,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Misc. Stocks Options Warrants,Redeemable Preferred Stock,Preferred Stock,Common Stock,Retained Earnings,Treasury Stock,Capital Surplus,Other Stockholder Equity,Total stockholders' equity,Net Tangible Assets
0,2018,071320.KS,2487330695000,2374123517000,113207177000,9642562000,80128592000,0,1688091000,2473164696000,...,0,0,0,57893720000,1390676928000,-2131618000,113713456000,-2131618000,1560152485000,1481150227000
1,2017,071320.KS,1834422361000,1625866796000,208555565000,9003795000,71812291000,0,1574215000,1715051434000,...,0,0,0,57893720000,1658220879000,-95502000,113713456000,-95502000,1829732552000,1749876025000
2,2013,071320.KS,2878599260000,2570638509000,307960750000,10048622000,62139766000,0,1110875000,2648615281000,...,0,0,0,57893720000,1429921037000,-1506756000,113713456000,-1506756000,1600021456000,1546060695000
3,2012,071320.KS,2809566616000,2498020325000,311546290000,7500284000,55353329000,0,1043171000,2566657440000,...,0,0,0,57893720000,1354094852000,-1896611000,113713456000,-1896611000,1523805416000,1466476867000
4,2018,005380.KS,96812609000000,81670479000000,15142130000000,1125603000000,11594362000000,0,0,94390444000000,...,0,0,0,1157982000000,66490082000000,-4206320000000,4201214000000,-3051076000000,67642958000000,66505918000000
5,2017,005380.KS,96376079000000,78798172000000,17577907000000,1039260000000,11963980000000,0,0,91801412000000,...,0,0,0,1157982000000,67332328000000,-3919051000000,4201214000000,-2278955000000,68772473000000,67545251000000
6,2016,005380.KS,93649024000000,75959720000000,17689304000000,1019188000000,11476616000000,0,0,88455524000000,...,0,0,0,1157982000000,64361408000000,-2863340000000,4202597000000,-1223244000000,66858647000000,65603465000000
7,2015,005380.KS,91958736000000,73701296000000,18257440000000,929280000000,10970254000000,0,0,85600830000000,...,0,0,0,1157982000000,60035088000000,-3020518000000,3520395000000,-1431821000000,61692947000000,60410641000000
8,2018,036460.KS,26185037650000,24510879509000,1674158141000,60409501000,230047623000,0,69312068000,24909162593000,...,0,0,0,461565000000,5497914458000,908442243000,1324901254000,1010865578000,8192822956000,6420995695000
9,2017,036460.KS,22172167684000,20732059573000,1440108111000,55363704000,232048798000,0,95475897000,21135649619000,...,0,0,0,461565000000,4601193102000,1425679844000,1324901254000,1528103178000,7813339200000,5999442759000
10,2016,036460.KS,21108115739000,19708507639000,1399608099000,46637857000,209286082000,0,120648501000,20109936699000,...,0,0,0,461565000000,5811331986000,1762480162000,1324901254000,1864903496000,9360278403000,6944602188000
11,2015,036460.KS,26052723827000,24672731229000,1379992598000,50883649000,200492639000,0,86291763000,25044911729000,...,0,0,0,461565000000,6418998526000,1851478788000,1324901254000,1953902122000,10056943569000,7536114053000
12,2018,017670.KS,16873960000000,353321000000,16520639000000,387675000000,10921182000000,0,845693000000,15679918000000,...,0,0,0,44639000000,22144541000000,-2634245000000,2915887000000,-654770000000,22470822000000,14027739000000
13,2017,017670.KS,17520013000000,333101000000,17186912000000,395276000000,11220096000000,0,902864000000,15989180000000,...,0,0,0,44639000000,17835946000000,-2954333000000,2915887000000,-693707000000,17842139000000,12344260000000
14,2016,017670.KS,17091816000000,4988474000000,12103342000000,395276000000,6726896000000,0,1050714000000,15707970000000,...,0,0,0,44639000000,15953164000000,-2942291000000,2915887000000,-681665000000,15971399000000,10267464000000
15,2015,017670.KS,17136734000000,5119728000000,12017006000000,395276000000,6495361000000,0,1087862000000,15548246000000,...,0,0,0,44639000000,15007627000000,-2717074000000,2915887000000,-456448000000,15251079000000,11045177000000
16,2018,055550.KS,10079188000000,0,10079188000000,0,4565442000000,0,1005488000000,5570930000000,...,0,0,0,2370998000000,22959440000000,225644000000,9895488000000,225644000000,35451570000000,31213972000000
17,2017,055550.KS,9113249000000,0,9113249000000,0,4645509000000,0,628681000000,5274190000000,...,0,0,0,2370998000000,20791681000000,-503848000000,9887335000000,-503848000000,32546166000000,28348167000000
18,2016,055550.KS,8410540000000,0,8410540000000,0,4344398000000,0,962088000000,5306486000000,...,0,0,0,2370998000000,18640038000000,-62728000000,9887335000000,-62728000000,30835643000000,26665694000000
19,2015,055550.KS,7981543000000,0,7981543000000,0,4279339000000,0,639872000000,4919211000000,...,0,0,0,2370998000000,17689134000000,618133000000,9887335000000,618133000000,30565600000000,26366104000000
20,2018,316140.KS,6854192000000,27648000000,6826544000000,0,3480931000000,0,510045000000,4018624000000,...,0,0,0,3381392000000,17124657000000,947993000000,285889000000,982106000000,21739931000000,21389094000000
21,2017,316140.KS,5715109000000,25983000000,5689126000000,0,3393570000000,0,142561000000,3562114000000,...,0,0,0,3381392000000,15620006000000,1078614000000,285880000000,1112727000000,20365892000000,20077743000000
22,2016,316140.KS,5421025000000,26457000000,5394568000000,0,3349488000000,0,470310000000,3846255000000,...,0,0,0,3381392000000,14611566000000,2106871000000,286331000000,2140984000000,20386160000000,20041117000000
23,2015,316140.KS,5177784000000,24965000000,5152819000000,0,3021842000000,0,713641000000,3760448000000,...,0,0,0,3381392000000,13726122000000,1786699000000,294259000000,1820812000000,19188472000000,18820023000000
24,2018,086790.KS,7852900000000,0,7852900000000,0,3805058000000,0,926260000000,4731318000000,...,0,0,0,1501210000000,14224003000000,101365000000,10602594000000,101365000000,26429172000000,25743456000000
25,2017,086790.KS,7592814000000,0,7592814000000,0,3902980000000,0,821928000000,4724908000000,...,0,0,0,1480015000000,12267565000000,-336922000000,10463033000000,-336922000000,23873691000000,23049835000000
26,2016,086790.KS,6560811000000,0,6560811000000,0,3945344000000,0,834743000000,4780087000000,...,0,0,0,1480015000000,10575395000000,-30783000000,10463067000000,-30783000000,22487694000000,21480858000000
27,2015,086790.KS,11877403000000,0,11877403000000,0,3859063000000,0,2856183000000,6715246000000,...,0,0,0,1480015000000,9481847000000,723276000000,10464530000000,723276000000,22149668000000,21057802000000
28,2018,086790.KS,7852900000000,0,7852900000000,0,3805058000000,0,926260000000,4731318000000,...,0,0,0,1501210000000,14224003000000,101365000000,10602594000000,101365000000,26429172000000,25743456000000
29,2017,086790.KS,7592814000000,0,7592814000000,0,3902980000000,0,821928000000,4724908000000,...,0,0,0,1480015000000,12267565000000,-336922000000,10463033000000,-336922000000,23873691000000,23049835000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2016,034020.KS,13952279021000,11526074486000,2426204534000,191636000000,1302323593000,0,21499000000,13364101079000,...,0,0,0,530791280000,704507685000,1115771087000,1058573160000,1201411087000,3409643213000,-2318501892000
137,2015,034020.KS,14470549808000,12283242564000,2187307244000,241117000000,1562986986000,0,21918000000,14781138551000,...,0,0,0,530791280000,1013088220000,1001116345000,969655673000,1177017345000,3514651518000,-2250968806000
138,2018,123040.KQ,891949818000,817879356000,74070461000,0,42890563000,0,884143000,865139861000,...,0,0,0,13602511000,-8918829000,3645720000,74137896000,4033671000,82467298000,81020453000
139,2017,123040.KQ,704192243000,639997192000,64195051000,0,36707754000,0,621917000,681224910000,...,0,0,0,13602141000,-8676676000,9258418000,74136108000,9646369000,88319992000,88142181000
140,2016,123040.KQ,747893633000,663491680000,84401953000,0,40615024000,0,496904000,707343487000,...,0,0,0,7273399000,-1025442000,17995827000,47928070000,18383778000,72171855000,71970633000
141,2015,123040.KQ,864031682000,767536226000,96495455000,0,45924253000,0,1680679000,816944200000,...,0,0,0,7036088000,-20691526000,12464347000,42898681000,12852298000,41707590000,41347679000
142,2018,011160.KS,1547803760000,1452734770000,95068990000,8199854000,78094458000,0,2146994000,1930606048000,...,0,0,0,46663044000,-15350445000,72373737000,169562050000,94730556000,273248385000,268186146000
143,2017,011160.KS,1535864082000,1374660973000,161203109000,6756646000,85089971000,0,3996408000,1585250983000,...,0,0,0,40792135000,598608474000,96436170000,135466051000,118792989000,871302831000,864632802000
144,2016,011160.KS,1334164306000,1209807036000,124357270000,5630144000,95573893000,0,3060200000,1430649621000,...,0,0,0,40556371000,-128436466000,122859584000,1015988912000,145216403000,1050968401000,1045027603000
145,2015,011160.KS,1185297683000,1114998965000,70298717000,15736373000,97759534000,0,3155981000,1435723517000,...,0,0,0,306927350000,243696286000,137044335000,613002560000,147076820000,1300670532000,1008346194000
146,2018,068790.KQ,298717912000,222748450000,75969462000,10509191000,34664132000,0,0,268306471000,...,0,0,0,11516243000,89209130000,4835708000,45897005000,5036119000,151458088000,148900276000
147,2017,068790.KQ,268731600000,207523598000,61208002000,9325614000,33636835000,0,0,252147433000,...,0,0,0,11468743000,74547368000,3604717000,45534531000,3805128000,135155360000,132262420000
148,2016,068790.KQ,248848765000,181990509000,66858256000,5811390000,25297316000,0,0,215491434000,...,0,0,0,11286243000,71786360000,8903768000,39681238000,9104179000,131657611000,127538468000
149,2015,068790.KQ,180943914000,135142106000,45801808000,5401803000,21323049000,0,406540000,166687108000,...,0,0,0,11161243000,35690039000,1082571000,43228734000,1282982000,91162588000,87759621000
150,2018,027740.KS,269057962000,246232327000,22825635000,0,21702420000,0,310553000,268597931000,...,0,0,0,79236297000,-37370331000,16564581000,44476322000,18565103000,102906869000,101494670000
151,2017,027740.KS,254619689000,225335529000,29284160000,0,20779402000,0,191328000,248214301000,...,0,0,0,58362738000,-21636073000,12048230000,37825728000,14048752000,86600623000,76455961000
152,2016,027740.KS,229830938000,212262243000,17568694000,0,19259425000,0,146082000,234327531000,...,0,0,0,58362738000,-11666903000,6632561000,34343180000,8633083000,87671577000,77416040000
153,2015,027740.KS,274546428000,260487857000,14058570000,0,21463399000,0,443172000,284326599000,...,0,0,0,41687738000,-12113057000,6632561000,34816464000,8633083000,71023707000,70160885000
154,2018,043200.KQ,36352017000,44662117000,-8310100000,3496988000,9791817000,0,263981000,62477851000,...,0,0,0,14833783000,-36793710000,862339000,54713082000,1524625000,33615494000,31598473000
155,2017,043200.KQ,28869598000,30530216000,-1660618000,7051328000,10710653000,0,169993000,52252645000,...,0,0,0,14832664000,-11108385000,1464142000,54706958000,2126428000,59895380000,58200270000
156,2016,043200.KQ,105658077000,69485557000,36172520000,4470927000,25511035000,0,278560000,101340281000,...,0,0,0,13818634000,13968286000,1588126000,49163982000,2250412000,78539030000,76936148000
157,2015,043200.KQ,126615551000,84625930000,41989621000,3393189000,26531499000,0,250600000,116858151000,...,0,0,0,8724634000,9819342000,266321000,25999440000,928607000,44809738000,43203601000
158,2018,090370.KS,47375133000,28684928000,18690205000,2218000,24405405000,0,314580000,56478426000,...,0,0,0,22274896000,-107381159000,113780000,152494321000,117169000,67501839000,8970833000
159,2017,090370.KS,26832431000,18640890000,8191541000,285000,22913800000,0,262023000,42781023000,...,0,0,0,15110923000,-121478226000,-471461000,137180981000,-468073000,30342216000,30308243000
160,2016,090370.KS,66700446000,51197718000,15502727000,353000,45623998000,0,332587000,99261286000,...,0,0,0,30721667000,-83553045000,-478059000,76688374000,-478059000,23378936000,22956272000
161,2015,090370.KS,115996783000,63023855000,52972927000,439000,75658430000,0,549974000,143395082000,...,0,0,0,7817230000,-44477600000,-21137000,56297963000,-21137000,19616456000,19039046000
162,2018,016380.KS,2545097237000,2503934654000,41162583000,1330000000,98751658000,0,0,2610769312000,...,0,0,0,136167120000,-837459511000,3291912000,702728057000,3347901000,4727578000,685059000
163,2017,016380.KS,2596196910000,2430128747000,166068163000,1386000000,163777869000,0,0,2611645617000,...,0,0,0,125000615000,-722695799000,995830000,688704655000,1107912000,92005300000,88066546000
164,2016,016380.KS,2328039348000,2032527035000,295512312000,1374000000,145223245000,0,0,2180666280000,...,0,0,0,125000610000,-578254027000,5281342000,516584754000,5393424000,68612679000,60657060000
165,2015,016380.KS,2320792156000,2074097509000,246694647000,1392000000,158449739000,0,0,2238505249000,...,0,0,0,100002440000,-504932171000,8574007000,339771755000,8694825000,-56583969000,-63556347000

In [23]:
df10=pd.read_csv("yearfinal.csv")
#credit은 데이터프레임2
credit=df10.dropna()
credit.shape

(190, 3)

In [48]:
dfaa=pd.read_csv("year2.csv")
#credit은 데이터프레임2
dfaa=dfaa.dropna()
dfaa.head()

   year companyname value
0  2015   071320.KS   AAA
1  2015   005380.KS   AAA
2  2015   030200.KS   AAA
3  2015   036460.KS   AAA
4  2015   017670.KS   AAA

In [24]:
df_merge=pd.merge(datasetb,credit[['year','companyname','value']],
                  how='left',
                  on=['year', 'companyname'])

In [25]:
Finalaa=df_merge.dropna()
Finalaa=Finalaa.drop_duplicates()
Finalaa.head()

,year,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Redeemable Preferred Stock,Preferred Stock,Common Stock,Retained Earnings,Treasury Stock,Capital Surplus,Other Stockholder Equity,Total stockholders' equity,Net Tangible Assets,value
0,2018,071320.KS,2487330695000,2374123517000,113207177000,9642562000,80128592000,0,1688091000,2473164696000,...,0,0,57893720000,1390676928000,-2131618000,113713456000,-2131618000,1560152485000,1481150227000,700.0
1,2017,071320.KS,1834422361000,1625866796000,208555565000,9003795000,71812291000,0,1574215000,1715051434000,...,0,0,57893720000,1658220879000,-95502000,113713456000,-95502000,1829732552000,1749876025000,700.0
4,2018,005380.KS,96812609000000,81670479000000,15142130000000,1125603000000,11594362000000,0,0,94390444000000,...,0,0,1157982000000,66490082000000,-4206320000000,4201214000000,-3051076000000,67642958000000,66505918000000,700.0
5,2017,005380.KS,96376079000000,78798172000000,17577907000000,1039260000000,11963980000000,0,0,91801412000000,...,0,0,1157982000000,67332328000000,-3919051000000,4201214000000,-2278955000000,68772473000000,67545251000000,700.0
6,2016,005380.KS,93649024000000,75959720000000,17689304000000,1019188000000,11476616000000,0,0,88455524000000,...,0,0,1157982000000,64361408000000,-2863340000000,4202597000000,-1223244000000,66858647000000,65603465000000,700.0

In [26]:
Finalaa.to_csv("testscl.csv")

## 독립적인 정보 170개(income)

170

2487330695000

# 최종 합친 dataframe

In [27]:
Final=df_merge.dropna()

In [28]:
Final.drop_duplicates()

,year,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Redeemable Preferred Stock,Preferred Stock,Common Stock,Retained Earnings,Treasury Stock,Capital Surplus,Other Stockholder Equity,Total stockholders' equity,Net Tangible Assets,value
0,2018,071320.KS,2487330695000,2374123517000,113207177000,9642562000,80128592000,0,1688091000,2473164696000,...,0,0,57893720000,1390676928000,-2131618000,113713456000,-2131618000,1560152485000,1481150227000,700.0
1,2017,071320.KS,1834422361000,1625866796000,208555565000,9003795000,71812291000,0,1574215000,1715051434000,...,0,0,57893720000,1658220879000,-95502000,113713456000,-95502000,1829732552000,1749876025000,700.0
4,2018,005380.KS,96812609000000,81670479000000,15142130000000,1125603000000,11594362000000,0,0,94390444000000,...,0,0,1157982000000,66490082000000,-4206320000000,4201214000000,-3051076000000,67642958000000,66505918000000,700.0
5,2017,005380.KS,96376079000000,78798172000000,17577907000000,1039260000000,11963980000000,0,0,91801412000000,...,0,0,1157982000000,67332328000000,-3919051000000,4201214000000,-2278955000000,68772473000000,67545251000000,700.0
6,2016,005380.KS,93649024000000,75959720000000,17689304000000,1019188000000,11476616000000,0,0,88455524000000,...,0,0,1157982000000,64361408000000,-2863340000000,4202597000000,-1223244000000,66858647000000,65603465000000,700.0
7,2015,005380.KS,91958736000000,73701296000000,18257440000000,929280000000,10970254000000,0,0,85600830000000,...,0,0,1157982000000,60035088000000,-3020518000000,3520395000000,-1431821000000,61692947000000,60410641000000,700.0
8,2018,036460.KS,26185037650000,24510879509000,1674158141000,60409501000,230047623000,0,69312068000,24909162593000,...,0,0,461565000000,5497914458000,908442243000,1324901254000,1010865578000,8192822956000,6420995695000,700.0
9,2017,036460.KS,22172167684000,20732059573000,1440108111000,55363704000,232048798000,0,95475897000,21135649619000,...,0,0,461565000000,4601193102000,1425679844000,1324901254000,1528103178000,7813339200000,5999442759000,700.0
10,2016,036460.KS,21108115739000,19708507639000,1399608099000,46637857000,209286082000,0,120648501000,20109936699000,...,0,0,461565000000,5811331986000,1762480162000,1324901254000,1864903496000,9360278403000,6944602188000,700.0
11,2015,036460.KS,26052723827000,24672731229000,1379992598000,50883649000,200492639000,0,86291763000,25044911729000,...,0,0,461565000000,6418998526000,1851478788000,1324901254000,1953902122000,10056943569000,7536114053000,700.0
12,2018,017670.KS,16873960000000,353321000000,16520639000000,387675000000,10921182000000,0,845693000000,15679918000000,...,0,0,44639000000,22144541000000,-2634245000000,2915887000000,-654770000000,22470822000000,14027739000000,700.0
13,2017,017670.KS,17520013000000,333101000000,17186912000000,395276000000,11220096000000,0,902864000000,15989180000000,...,0,0,44639000000,17835946000000,-2954333000000,2915887000000,-693707000000,17842139000000,12344260000000,700.0
14,2016,017670.KS,17091816000000,4988474000000,12103342000000,395276000000,6726896000000,0,1050714000000,15707970000000,...,0,0,44639000000,15953164000000,-2942291000000,2915887000000,-681665000000,15971399000000,10267464000000,700.0
15,2015,017670.KS,17136734000000,5119728000000,12017006000000,395276000000,6495361000000,0,1087862000000,15548246000000,...,0,0,44639000000,15007627000000,-2717074000000,2915887000000,-456448000000,15251079000000,11045177000000,700.0
16,2018,055550.KS,10079188000000,0,10079188000000,0,4565442000000,0,1005488000000,5570930000000,...,0,0,2370998000000,22959440000000,225644000000,9895488000000,225644000000,35451570000000,31213972000000,700.0
17,2017,055550.KS,9113249000000,0,9113249000000,0,4645509000000,0,628681000000,5274190000000,...,0,0,2370998000000,20791681000000,-503848000000,9887335000000,-503848000000,32546166000000,28348167000000,700.0
18,2016,055550.KS,8410540000000,0,8410540000000,0,4344398000000,0,962088000000,5306486000000,...,0,0,2370998000000,18640038000000,-62728000000,9887335000000,-62728000000,30835643000000,26665694000000,700.0
19,2015,055550.KS,7981543000000,0,7981543000000,0,4279339000000,0,639872000000,4919211000000,...,0,0,2370998000000,17689134000000,618133000000,9887335000000,618133000000,30565600000000,26366104000000,700.0
22,2016,316140.KS,5421025000000,26457000000,5394568000000,0,3349488000000,0,470310000000,3846255000000,...,0,0,3381392000000,14611566000000,2106871000000,286331000000,2140984000000,20386160000000,20041117000000,700.0
23,2015,316140.KS,5177784000000,24965000000,5152819000000,0,3021842000000,0,713641000000,3760448000000,...,0,0,3381392000000,13726122000000,1786699000000,294259000000,1820812000000,19188472000000,18820023000000,700.0
26,2016,086790.KS,6560811000000,0,6560811000000,0,3945344000000,0,834743000000,4780087000000,...,0,0,1480015000000,10575395000000,-30783000000,10463067000000,-30783000000,22487694000000,21480858000000,700.0
28,2015,086790.KS,11877403000000,0,11877403000000,0,3859063000000,0,2856183000000,6715246000000,...,0,0,1480015000000,9481847000000,723276000000,10464530000000,723276000000,22149668000000,21057802000000,700.0
38,2016,139130.KS,2399085128000,0,2399085128000,0,555655477000,0,1126359599000,1682015077000,...,0,0,845265770000,1303373955000,-28381305000,1560454863000,-28381305000,3680713283000,3547616283000,700.0
39,2015,139130.KS,2298595061000,0,2298595061000,0,544574701000,0,1155329924000,1699904626000,...,0,0,845265770000,1063045551000,17869360000,1560454863000,17869360000,3486635545000,3384414212000,700.0
40,2018,002380.KS,3782162955000,2936557694000,845605261000,80958156000,487231821000,0,0,3540183161000,...,0,0,56434870000,5444673735000,-238708907000,467587720000,-115835874000,5729987418000,5699345317000,600.0
41,2017,002380.KS,3863990044000,2939064835000,924925208000,75988541000,491804925000,0,0,3550085423000,...,0,0,56434870000,5557251855000,-226061223000,467587720000,-103188190000,5855213221000,5824752650000,600.0
42,2016,002380.KS,3490487870000,2561388413000,929099456000,75155461000,487768456000,0,0,3163904769000,...,0,0,56434870000,4440028114000,991904753000,467587720000,1114777786000,5955955458000,5915894479000,600.0
43,2015,002380.KS,3414387967000,2528622151000,885765815000,70445025000,486753716000,0,0,3105177481000,...,0,0,56434870000,3198736546000,2135148379000,467587720000,2258021412000,5857907515000,5816573131000,600.0
44,2018,004020.KS,20780381550000,18715402813000,2064978736000,0,999751114000,0,12380306000,19754349994000,...,0,0,667228925000,11560630208000,553673258000,3914481193000,682779591000,16696013584000,15136831082000,600.0
45,2017,004020.KS,19165963848000,16740037064000,2425926783000,0,1027651500000,0,10601617000,17818257888000,...,0,0,667228925000,11277740474000,856089957000,3914481193000,985196290000,16715540550000,15100449074000,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,2018,042670.KS,7730107942000,5939509301000,1790598641000,152876000000,731190195000,0,10897000000,6879785496000,...,0,0,1040790385000,1049189116000,-378207106000,205105383000,-378205106000,1916877778000,-2178723603000,400.0
135,2017,042670.KS,6567897225000,5028347368000,1539549857000,143428000000,684913558000,0,12284000000,5906378926000,...,0,0,1040000595000,784702285000,-434598991000,203636565000,-434596991000,1593740454000,-2354998299000,400.0
136,2016,042670.KS,5729550204000,4406830833000,1322719370000,145434000000,628037183000,0,9884000000,5241411016000,...,0,0,1037276570000,578245971000,203356956000,241579144000,203358956000,2060458643000,-2143804793000,400.0
137,2015,042670.KS,5964894252000,4753084597000,1211809654000,191570000000,886994811000,0,12396000000,6091810408000,...,0,0,1037276570000,475597665000,271096851000,237392050000,271096851000,2021363137000,-2118115953000,500.0
138,2018,034020.KS,14761064155000,12191489262000,2569574893000,189015000000,1211964906000,0,20202000000,14105362168000,...,0,0,585734015000,-148908617000,1218849379000,1084651750000,1304624379000,2740326527000,-2906660837000,400.0
139,2017,034020.KS,13841325827000,11390013012000,2451312814000,176417000000,1248539829000,0,23629000000,13106155842000,...,0,0,532315465000,402497651000,1278236366000,1109237795000,1363876366000,3322287278000,-2201843201000,500.0
140,2016,034020.KS,13952279021000,11526074486000,2426204534000,191636000000,1302323593000,0,21499000000,13364101079000,...,0,0,530791280000,704507685000,1115771087000,1058573160000,1201411087000,3409643213000,-2318501892000,500.0
141,2015,034020.KS,14470549808000,12283242564000,2187307244000,241117000000,1562986986000,0,21918000000,14781138551000,...,0,0,530791280000,1013088220000,1001116345000,969655673000,1177017345000,3514651518000,-2250968806000,500.0
142,2018,123040.KQ,891949818000,817879356000,74070461000,0,42890563000,0,884143000,865139861000,...,0,0,13602511000,-8918829000,3645720000,74137896000,4033671000,82467298000,81020453000,300.0
143,2017,123040.KQ,704192243000,639997192000,64195051000,0,36707754000,0,621917000,681224910000,...,0,0,13602141000,-8676676000,9258418000,74136108000,9646369000,88319992000,88142181000,300.0
144,2016,123040.KQ,747893633000,663491680000,84401953000,0,40615024000,0,496904000,707343487000,...,0,0,7273399000,-1025442000,17995827000,47928070000,18383778000,72171855000,71970633000,300.0
145,2015,123040.KQ,864031682000,767536226000,96495455000,0,45924253000,0,1680679000,816944200000,...,0,0,7036088000,-20691526000,12464347000,42898681000,12852298000,41707590000,41347679000,300.0
146,2018,011160.KS,1547803760000,1452734770000,95068990000,8199854000,78094458000,0,2146994000,1930606048000,...,0,0,46663044000,-15350445000,72373737000,169562050000,94730556000,273248385000,268186146000,300.0
147,2017,011160.KS,1535864082000,1374660973000,161203109000,6756646000,85089971000,0,3996408000,1585250983000,...,0,0,40792135000,598608474000,96436170000,135466051000,118792989000,871302831000,864632802000,300.0
148,2016,011160.KS,1334164306000,1209807036000,124357270000,5630144000,95573893000,0,3060200000,1430649621000,...,0,0,40556371000,-128436466000,122859584000,1015988912000,145216403000,1050968401000,1045027603000,300.0
149,2015,011160.KS,1185297683000,1114998965000,70298717000,15736373000,97759534000,0,3155981000,1435723517000,...,0,0,306927350000,243696286000,137044335000,613002560000,147076820000,1300670532000,1008346194000,300.0
151,2017,068790.KQ,268731600000,207523598000,61208002000,9325614000,33636835000,0,0,252147433000,...,0,0,11468743000,74547368000,3604717000,45534531000,3805128000,135155360000,132262420000,300.0
152,2016,068790.KQ,248848765000,181990509000,66858256000,5811390000,25297316000,0,0,215491434000,...,0,0,11286243000,71786360000,8903768000,39681238000,9104179000,131657611000,127538468000,300.0
153,2015,068790.KQ,180943914000,135142106000,45801808000,5401803000,21323049000,0,406540000,166687108000,...,0,0,11161243000,35690039000,1082571000,43228734000,1282982000,91162588000,87759621000,300.0
155,2017,027740.KS,254619689000,225335529000,29284160000,0,20779402000,0,191328000,248214301000,...,0,0,58362738000,-21636073000,12048230000,37825728000,14048752000,86600623000,76455961000,300.0
156,2016,027740.KS,229830938000,212262243000,17568694000,0,19259425000,0,146082000,234327531000,...,0,0,58362738000,-11666903000,6632561000,34343180000,8633083000,87671577000,77416040000,300.0
158,2018,043200.KQ,36352017000,44662117000,-8310100000,3496988000,9791817000,0,263981000,62477851000,...,0,0,14833783000,-36793710000,862339000,54713082000,1524625000,33615494000,31598473000,300.0
159,2017,043200.KQ,28869598000,30530216000,-1660618000,7051328000,10710653000,0,169993000,52252645000,...,0,0,14832664000,-11108385000,1464142000,54706958000,2126428000,59895380000,58200270000,300.0
160,2016,043200.KQ,105658077000,69485557000,36172520000,4470927000,25511035000,0,278560000,101340281000,...,0,0,13818634000,13968286000,1588126000,49163982000,2250412000,78539030000,76936148000,200.0
161,2015,043200.KQ,126615551000,84625930000,41989621000,3393189000,26531499000,0,250600000,116858151000,...,0,0,8724634000,9819342000,266321000,25999440000,928607000,44809738000,43203601000,200.0
162,2018,090370.KS,47375133000,28684928000,18690205000,2218000,24405405000,0,314580000,56478426000,...,0,0,22274896000,-107381159000,113780000,152494321000,117169000,67501839000,8970833000,200.0
163,2017,090370.KS,26832431000,18640890000,8191541000,285000,22913800000,0,262023000,42781023000,...,0,0,15110923000,-121478226000,-471461000,137180981000,-468073000,30342216000,30308243000,200.0
167,2017,016380.KS,2596196910000,2430128747000,166068163000,1386000000,163777869000,0,0,2611645617000,...,0,0,125000615000,-722695799000,995830000,688704655000,1107912000,92005300000,88066546000,100.0
169,2016,016380.KS,2328039348000,2032527035000,295512312000,1374000000,145223245000,0,0,2180666280000,...,0,0,125000610000,-578254027000,5281342000,516584754000,5393424000,68612679000,60657060000,100.0
171,2015,016380.KS,2320792156000,2074097509000,246694647000,1392000000,158449739000,0,0,2238505249000,...,0,0,100002440000,-504932171000,8574007000,339771755000,8694825000,-56583969000,-63556347000,100.0

##

## 4. Enterprise value

### Free Cash Flows (잉여 현금흐름)

In [18]:
from pyfinmod.yahoo_finance import YahooFinanceParser
from pyfinmod.ev import get_enterprise_value

from pyfinmod.ev import _ev

parser = YahooFinanceParser('000660.KS')
df = parser.get_dataframe('balance-sheet')
get_enterprise_value(df)

2018-12-31    57736765000000
2017-12-31    40166421000000
2016-12-31    30194339000000
2015-12-31    26561695000000
dtype: int64

In [19]:
from pyfinmod.ev import get_fcf_from_cscf

parser = YahooFinanceParser('000660.KS')


beta = parser.get_value('Beta (3Y Monthly)')
income_statement = parser.get_dataframe('income-statement')

aapl_parser = YahooFinanceParser('000660.KS')
balance_sheet = aapl_parser.get_dataframe('balance-sheet')
cash_flow = aapl_parser.get_dataframe('cash-flow')
get_fcf_from_cscf(income_statement, cash_flow)
FCF=get_fcf_from_cscf(income_statement, cash_flow)

print(FCF)

2018-12-31    8.673609e+11
2017-12-31    2.869576e+12
2016-12-31   -5.709865e+11
2015-12-31    2.291225e+12
dtype: float64

## 5. Weighted average cost of capital and DCF

In [20]:
from pyfinmod.yahoo_finance import YahooFinanceParser
from pyfinmod.wacc import wacc
from pyfinmod.ev import dcf

parser = YahooFinanceParser('000660.KS')
e = parser.get_value('Market Cap')
beta = parser.get_value('Beta (3Y Monthly)')
income_statement = parser.get_dataframe('income-statement')
balance_sheet = parser.get_dataframe('balance-sheet')

WACC= wacc(e, balance_sheet, income_statement, beta,
                 risk_free_interest_rate=0.02,
                 market_return=0.08)
DCF=dcf(FCF, WACC, short_term_growth=0.08, long_term_growth=0.04)

print(WACC)
print()
print()
print(DCF)
print()
print()
print(FCF)

0.06766361618707539


43052533187841.48


2018-12-31    8.673609e+11
2017-12-31    2.869576e+12
2016-12-31   -5.709865e+11
2015-12-31    2.291225e+12
dtype: float64

###  DF 3개..concating

In [29]:
def csl4(x):
    parser = YahooFinanceParser(x)
    df_1=parser.get_dataframe('cash-flow')
    #df_2=np.transpose(df_1)
    #df_2.insert(0,"companyname",x)
    return(df_1)

df3=csl4('000660.KS')
df3.head()

,2018,2017,2016,2015
row name,,,,
Net Income,15540111000000,10641512000000,2953774000000,4322356000000
Depreciation,6093569000000,4766956000000,4251257000000,3953236000000
Adjustments To Net Income,2255671000000,2213003000000,-402261000000,211645000000
Changes In Accounts Receivables,-547255000000,-2964272000000,-470792000000,1260172000000
Changes In Liabilities,58773000000,514751000000,-208439000000,-156074000000

In [30]:
def cslking(x):
    df1 = csl(x)
    df2 = csl2(x)
    df3 = csl4(x)
    df_concat11 = pd.concat([df1 ,df2,df3])
    df_trans11 = np.transpose(df_concat11)
    df_trans11.insert(0,"companyname",x)
    return(df_trans11)
cslking('001520.KS')

row name,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,Operating Income or Loss,...,Investments,Other Cash flows from Investing Activities,Total Cash Flows From Investing Activities,Dividends Paid,Sale Purchase of Stock,Net Borrowings,Other Cash Flows from Financing Activities,Total Cash Flows From Financing Activities,Effect Of Exchange Rate Changes,Change In Cash and Cash Equivalents
2018,001520.KS,529745192000,472857681000,56887510000,959000000,48495368000,0,2931000000,529028049000,717142000,...,29289050000,-5538716000,523101000,-10372542000,0,316879000,350948000,-13929923000,214504000,10623315000
2017,001520.KS,483087799000,427980316000,55107482000,703000000,43736681000,0,2231000000,476287997000,6799801000,...,50466829000,414985000,17131349000,-10608332000,0,-25194000,217941000,-22071035000,-1008107000,-13740855000
2016,001520.KS,439901518000,387474619000,52426898000,117000000,40925457000,0,2167000000,432249077000,7652441000,...,84753619000,-371482000,37719280000,-24616349000,0,-2609509000,-40135000,-126885260000,331679000,-220826517000
2015,001520.KS,392665078000,325001629000,67663448000,117000000,29824752000,0,1564000000,357532382000,35132695000,...,-334816341000,786660323000,453533203000,-24616349000,0,-2112769000,-292389574000,-291808009000,-48955000,199243638000

In [20]:
x[51]

'036630.KS'

In [21]:
import pandas as pd
x=['071320.KS','005380.KS','036460.KS','017670.KS','055550.KS','316140.KS','086790.KS','086790.KS',
   '139130.KS','002380.KS','004020.KS','004170.KS','032640.KS','051600.KS','015760.KS','072710.KS','023530.KS','005300.KS',
   '002270.KS','006400.KS','000660.KS','066570.KS','008770.KS','078930.KS','298040.KS','138930.KS','101530.KS','000080.KS',
   '060980.KS','051500.KQ','213500.KS','011780.KS','103140.KS','298040.KS','042670.KS','034020.KS','123040.KQ','011160.KS',
   '068790.KQ','027740.KS','043200.KQ','090370.KS','016380.KS','001020.KS','032980.KQ','042660.KS','128820.KS',
   '011200.KS','011930.KS','018680.KQ','007980.KS','036630.KQ','001440.KS','014790.KS','019170.KS','004540.KS','003490.KS',
   '073240.KS','036420.KQ','020560.KS','008040.KS','001230.KS','001520.KS']
y=[]

#'001020.KS','032980.KQ','042660.KS','128820.KS',
#'011200.KS','011930.KS','018680.KQ','007980.KS','036630.KQ','001440.KS','014790.KS','019170.KS','004540.KS','003490.KS',
#'073240.KS','036420.KQ','020560.KS','008040.KS','001230.KS','001520.KS'


for i in range(len(x)):
    print(i)
    k2=cslking(x[i]) #추가하려는 애
    if len(x[i]):
        y.append(k2)
    
df5=pd.concat(y)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62

In [23]:
df5

row name,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,Operating Income or Loss,...,Investments,Other Cash flows from Investing Activities,Total Cash Flows From Investing Activities,Dividends Paid,Sale Purchase of Stock,Net Borrowings,Other Cash Flows from Financing Activities,Total Cash Flows From Financing Activities,Effect Of Exchange Rate Changes,Change In Cash and Cash Equivalents
2018,071320.KS,2487330695000,2374123517000,113207177000,9642562000,80128592000,0,1688091000,2473164696000,14165998000,...,-23958000000,1477780000,-434300755000,-32652058000,0,59818009000,-705614000,26460336000,0,-25425812000
2017,071320.KS,1834422361000,1625866796000,208555565000,9003795000,71812291000,0,1574215000,1715051434000,119370927000,...,-15000000000,-3293082000,-651888338000,-43999227000,0,279806114000,-1215443000,234591444000,0,28115191000
2013,071320.KS,2878599260000,2570638509000,307960750000,10048622000,62139766000,0,1110875000,2648615281000,229983978000,...,-16791838000,-19999000,-401331523000,-43420290000,0,-38369110000,-972979000,-82762379000,0,-35868000
2012,071320.KS,2809566616000,2498020325000,311546290000,7500284000,55353329000,0,1043171000,2566657440000,242909175000,...,37595362000,-30000000,-346385810000,-4052560000,0,43646387000,-564191000,39029635000,0,34497664000
2018,005380.KS,96812609000000,81670479000000,15142130000000,1125603000000,11594362000000,0,0,94390444000000,2422165000000,...,2302476000000,26556000000,-2415064000000,-1127452000000,0,500941000000,200463000000,-880782000000,-79273000000,292096000000
2017,005380.KS,96376079000000,78798172000000,17577907000000,1039260000000,11963980000000,0,0,91801412000000,4574667000000,...,-381440000000,36568000000,-4744413000000,-1138661000000,0,3215832000000,104020000000,2181191000000,-427759000000,931440000000
2016,005380.KS,93649024000000,75959720000000,17689304000000,1019188000000,11476616000000,0,0,88455524000000,5193500000000,...,-2078757000000,2991000000,-6311750000000,-1084546000000,0,7124760000000,-87244000000,5691418000000,181994000000,558626000000
2015,005380.KS,91958736000000,73701296000000,18257440000000,929280000000,10970254000000,0,0,85600830000000,6357906000000,...,1193819000000,15495000000,-8060288000000,-1352510000000,0,8876988000000,4134000000,7213667000000,-166844000000,234950000000
2018,036460.KS,26185037650000,24510879509000,1674158141000,60409501000,230047623000,0,69312068000,24909162593000,1275875057000,...,2717629000,-68798157000,-1275174704000,-8842561000,0,1045039137000,-41996384000,994200190000,22378703000,-201509314000
2017,036460.KS,22172167684000,20732059573000,1440108111000,55363704000,232048798000,0,95475897000,21135649619000,1036518065000,...,117908517000,30124527000,-1225943868000,-7134543000,0,-1468316779000,209324771000,-1266126550000,-57733733000,-42206190000
2016,036460.KS,21108115739000,19708507639000,1399608099000,46637857000,209286082000,0,120648501000,20109936699000,998179039000,...,-155985790000,-24045437000,-2078879806000,-14898330000,0,-2460120925000,-5554802000,-2376554130000,31634043000,345478055000
2015,036460.KS,26052723827000,24672731229000,1379992598000,50883649000,200492639000,0,86291763000,25044911729000,1007812098000,...,180642653000,13396642000,-2246623092000,-21909310000,0,-3238491972000,-5554802000,-3265956085000,-15054290000,-71428988000
2018,017670.KS,16873960000000,353321000000,16520639000000,387675000000,10921182000000,0,845693000000,15679918000000,1194042000000,...,-554698000000,346860000000,-4047725000000,-706091000000,0,373376000000,94402000000,-238313000000,2422000000,48964000000
2017,017670.KS,17520013000000,333101000000,17186912000000,395276000000,11220096000000,0,902864000000,15989180000000,1530833000000,...,-374169000000,109709000000,-3070607000000,-706091000000,0,345243000000,-465770000000,-826618000000,-6102000000,-47507000000
2016,017670.KS,17091816000000,4988474000000,12103342000000,395276000000,6726896000000,0,1050714000000,15707970000000,1383846000000,...,676708000000,2216000000,-2462208000000,-722931000000,0,-235072000000,-86826000000,-1044829000000,189000000,736320000000
2015,017670.KS,17136734000000,5119728000000,12017006000000,395276000000,6495361000000,0,1087862000000,15548246000000,1588488000000,...,-325975000000,164000000,-2880499000000,-685334000000,0,623301000000,-412358000000,-964583000000,1446000000,-65507000000
2018,055550.KS,10079188000000,0,10079188000000,0,4565442000000,0,1005488000000,5570930000000,4508258000000,...,-4817035000000,-338397000000,-5512585000000,-714705000000,0,13570669000000,16694185000000,30505994000000,-30640000000,1943106000000
2017,055550.KS,9113249000000,0,9113249000000,0,4645509000000,0,628681000000,5274190000000,3839059000000,...,-10602333000000,47552000000,-10703638000000,-706565000000,0,10831986000000,15915523000000,25965410000000,-46035000000,604114000000
2016,055550.KS,8410540000000,0,8410540000000,0,4344398000000,0,962088000000,5306486000000,3104054000000,...,-7117850000000,6246000000,-7593874000000,-669103000000,0,7317733000000,16333366000000,21616090000000,-22638000000,1025285000000
2015,055550.KS,7981543000000,0,7981543000000,0,4279339000000,0,639872000000,4919211000000,3062332000000,...,-4895260000000,-81020000000,-5288599000000,-546160000000,0,2087593000000,22818401000000,24559289000000,8375000000,-997160000000
2018,316140.KS,6854192000000,27648000000,6826544000000,0,3480931000000,0,510045000000,4018624000000,2835568000000,...,-10724874000000,0,-11071168000000,-484261000000,0,1859452000000,13993619000000,15512517000000,233943000000,-195663000000
2017,316140.KS,5715109000000,25983000000,5689126000000,0,3393570000000,0,142561000000,3562114000000,2152995000000,...,2231452000000,-13742000000,1883709000000,-514366000000,0,1182817000000,13669160000000,13573776000000,-526645000000,-683038000000
2016,316140.KS,5421025000000,26457000000,5394568000000,0,3349488000000,0,470310000000,3846255000000,1574770000000,...,-3751281000000,-42544000000,-4225613000000,-369645000000,0,464089000000,11877342000000,12211690000000,-65465000000,947269000000
2015,316140.KS,5177784000000,24965000000,5152819000000,0,3021842000000,0,713641000000,3760448000000,1417336000000,...,1462248000000,53683000000,1274144000000,-684710000000,0,-594846000000,20623250000000,20138873000000,272370000000,681194000000
2018,086790.KS,7852900000000,0,7852900000000,0,3805058000000,0,926260000000,4731318000000,3121582000000,...,-796864000000,87267000000,-1610722000000,-517038000000,0,4206383000000,16119478000000,20008707000000,60262000000,-3115035000000
2017,086790.KS,7592814000000,0,7592814000000,0,3902980000000,0,821928000000,4724908000000,2867906000000,...,-9829786000000,129031000000,-10252983000000,-344701000000,0,4458616000000,13565610000000,17679525000000,-399451000000,-548665000000
2016,086790.KS,6560811000000,0,6560811000000,0,3945344000000,0,834743000000,4780087000000,1780724000000,...,-1165248000000,110764000000,-1575328000000,-245872000000,0,-783826000000,13717123000000,12387437000000,147880000000,686264000000
2015,086790.KS,11877403000000,0,11877403000000,0,3859063000000,0,2856183000000,6715246000000,5162157000000,...,-2833809000000,285164000000,-3168099000000,-174852000000,0,-782950000000,4579305000000,3801325000000,32306000000,-1437477000000
2018,086790.KS,7852900000000,0,7852900000000,0,3805058000000,0,926260000000,4731318000000,3121582000000,...,-796864000000,87267000000,-1610722000000,-517038000000,0,4206383000000,16119478000000,20008707000000,60262000000,-3115035000000
2017,086790.KS,7592814000000,0,7592814000000,0,3902980000000,0,821928000000,4724908000000,2867906000000,...,-9829786000000,129031000000,-10252983000000,-344701000000,0,4458616000000,13565610000000,17679525000000,-399451000000,-548665000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,004540.KS,706033014000,571115553000,134917461000,174328000,115339935000,0,955446000,686457093000,19575920000,...,1534038000,335620000,-25103707000,-80850000,0,-21682335000,0,-21682335000,0,3274997000
2015,004540.KS,678615391000,564410811000,114204579000,40084000,108524338000,0,839966000,675894184000,2721206000,...,-3302425000,189840000,-58654726000,-80850000,0,43364926000,0,43364926000,0,1054508000
2018,003490.KS,13020275810000,11003536404000,2016739405000,0,1287872566000,0,24129421000,12379563835000,640711975000,...,347532909000,157940994000,-657937499000,-68106830000,0,-613392686000,-726016617000,-1407516135000,15537711000,742716535000
2017,003490.KS,12092211497000,9991152334000,2101059163000,0,1096215425000,0,23295767000,11152211714000,939999782000,...,-297235767000,-15804773000,-2041246916000,-33621777000,0,-1331389916000,-124445951000,-1036188975000,-58007439000,-328692533000
2016,003490.KS,11731852588000,9435221360000,2296631228000,0,1105239427000,0,20815829000,10626340874000,1105511714000,...,-83692995000,84886503000,-873500481000,-23334917000,0,-1409119439000,-400370422000,-1829310977000,19001820000,122445959000
2015,003490.KS,11544831301000,9517396914000,2027434386000,0,1086152968000,0,21414213000,10704442938000,840388362000,...,-99974229000,-55087953000,418728666000,-14057147000,0,-3429021352000,-47722633000,-2996598896000,19005999000,170877584000
2018,073240.KS,2558681154000,2170507688000,388173466000,0,445499970000,0,0,2638335659000,-79654504000,...,-30439015000,119031000,-167173496000,0,0,-368296545000,-45989605000,228847836000,1326922000,119802956000
2017,073240.KS,2876420253000,2415119596000,461300657000,0,591815624000,0,0,3033845221000,-157424967000,...,179810462000,-10982000,-83675463000,-2842689000,0,-45517516000,50391054000,2030848000,-3765851000,-11486313000
2016,073240.KS,2947227755000,2201751973000,745475781000,0,595751242000,0,0,2827177216000,120050538000,...,6149156000,-91984394000,-264899232000,-3911275000,0,-72146876000,77755744000,1697591000,-9420380000,-80363032000
2015,073240.KS,3040406690000,2265091747000,775314942000,0,609858318000,0,0,2904444065000,135962624000,...,87461651000,-251504000,-581729909000,-1366756000,0,293072264000,97605252000,389310760000,12779883000,46767346000
2018,036420.KQ,511279166000,273804545000,237474620000,456884000,183821442000,0,0,476632121000,34647044000,...,-2051070000,-975941000,-47831767000,-1300743000,0,-38284092000,0,115195084000,0,92174801000
2017,036420.KQ,420319379000,199761805000,220557573000,534170000,169848435000,0,0,390892749000,29426629000,...,-33333941000,-8389785000,-75198569000,-1300743000,0,-50421880000,123228849000,72791336000,0,-5917291000
2016,036420.KQ,335160647000,152616441000,182544205000,215986000,139656019000,0,0,306246249000,28914397000,...,15803603000,8662288000,-66066994000,-1300743000,0,46259777000,24011405000,70271183000,0,22577941000
2015,036420.KQ,305786663000,140293661000,165493001000,176514000,120716478000,0,0,273044471000,32742191000,...,2272981000,1409999000,-15262838000,-5368404000,0,-5468087000,-161359534000,-26116468000,0,-17920596000
2018,020560.KS,7183387207000,6453307367000,730079839000,0,675073430000,0,15940248000,7155154656000,28232551000,...,154674240000,-314412000,223055928000,-3345003000,0,-807321340000,3549064000,-815268754000,794497000,125618639000
2017,020560.KS,6594139544000,5710003306000,884136238000,0,613906308000,0,13900921000,6348510397000,245629147000,...,36475896000,-287607040000,-720993282000,-2700500000,0,85852390000,-93879610000,-15727719000,7535962000,-4780899000
2016,020560.KS,5763550962000,4909477006000,854073955000,0,576560581000,0,13498059000,5507060527000,256490435000,...,389960233000,-231110495000,-55139257000,-200000000,0,-561475697000,0,-511613256000,-4070223000,87968768000
2015,020560.KS,5540704155000,4931418725000,609285430000,0,543635737000,0,12828628000,5494632839000,46071315000,...,-398876923000,-147422594000,-851485910000,-200000000,0,329067455000,0,328867455000,124875000,-79986790000
2018,008040.KS,422478552000,363997287000,58481264000,1650000,31928042000,0,836707000,390349756000,32128795000,...,1962000000,43934000,-1778174000,0,0,-29653582000,-106727000,-29760310000,0,-2845837000
2017,008040.KS,395105058000,337485879000,57619178000,47676000,28387714000,0,653900000,365169594000,29935463000,...,599850000,264216000,28347916000,-113084000,0,-53922879000,-2153277000,-56659156000,-156998000,1284836000
2016,008040.KS,381799622000,326432429000,55367192000,101778000,27725704000,0,744788000,361607245000,20192376000,...,11634010000,1324825000,29287516000,-348150000,0,-76506600000,0,-76854750000,-7722000,-3740272000
2015,008040.KS,491404112000,422512138000,68891974000,121807000,53393077000,0,1880181000,487353151000,4050961000,...,7605051000,2026274000,54804457000,-348150000,0,-76308204000,-1515248000,-68499677000,199626000,-322695000
2018,001230.KS,5964930870000,5484569279000,480361591000,10664000000,313812487000,0,2678000000,5819975767000,144955103000,...,-33392016000,17288618000,-72977969000,-10962844000,0,-195247611000,-400000000,-194180115000,2036586000,-35691637000
2017,001230.KS,6049348882000,5435445116000,613903766000,11106000000,347701463000,0,3134000000,5806924579000,242424303000,...,3192690000,9795130000,-14511135000,-15826177000,0,-167265294000,-400000000,-183091471000,-6841412000,-114272213000
2016,001230.KS,5006583136000,4356091126000,650492010000,9424000000,321838648000,0,4713000000,4750016774000,256566361000,...,-42782738000,46405642000,-101206795000,-5173300000,0,-673196840000,-400000000,-679544585000,-2426479000,100935214000
2015,001230.KS,5266301664000,4761711658000,504590006000,8084000000,313123464000,0,4600000000,5103487122000,162814542000,...,209576993000,-9744437000,566921502000,-4467549000,0,-1477485819000,6047553000,-1475905815000,1312688000,51557577000
2018,001520.KS,529745192000,472857681000,56887510000,959000000,48495368000,0,2931000000,529028049000,717142000,...,29289050000,-5538716000,523101000,-10372542000,0,316879000,350948000,-13929923000,214504000,10623315000
2017,001520.KS,483087799000,427980316000,55107482000,703000000,43736681000,0,2231000000,476287997000,6799801000,...,50466829000,414985000,17131349000,-10608332000,0,-25194000,217941000,-22071035000,-1008107000,-13740855000
2016,001520.KS,439901518000,387474619000,52426898000,117000000,40925457000,0,2167000000,432249077000,7652441000,...,84753619000,-371482000,37719280000,-24616349000,0,-2609509000,-40135000,-126885260000,331679000,-220826517000
2015,001520.KS,392665078000,325001629000,67663448000,117000000,29824752000,0,1564000000,357532382000,35132695000,...,-334816341000,786660323000,453533203000,-24616349000,0,-2112769000,-292389574000,-291808009000,-48955000,199243638000

In [24]:
import pandas as pd
#df_test = pd.DataFrame(df5)
#df_test.to_csv("testking.csv")
dfttt = pd.DataFrame(df5)
dfttt.to_csv("test20.csv")

In [25]:
d1 = pd.read_csv("test20.csv")
#for i in range(len(dataset)):
d1.rename(columns={"Unnamed: 0":"year"}, inplace = True)
d1.head()

,year,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Investments,Other Cash flows from Investing Activities,Total Cash Flows From Investing Activities,Dividends Paid,Sale Purchase of Stock,Net Borrowings,Other Cash Flows from Financing Activities,Total Cash Flows From Financing Activities,Effect Of Exchange Rate Changes,Change In Cash and Cash Equivalents
0,2018,071320.KS,2487330695000,2374123517000,113207177000,9642562000,80128592000,0,1688091000,2473164696000,...,-23958000000,1477780000,-434300755000,-32652058000,0,59818009000,-705614000,26460336000,0,-25425812000
1,2017,071320.KS,1834422361000,1625866796000,208555565000,9003795000,71812291000,0,1574215000,1715051434000,...,-15000000000,-3293082000,-651888338000,-43999227000,0,279806114000,-1215443000,234591444000,0,28115191000
2,2013,071320.KS,2878599260000,2570638509000,307960750000,10048622000,62139766000,0,1110875000,2648615281000,...,-16791838000,-19999000,-401331523000,-43420290000,0,-38369110000,-972979000,-82762379000,0,-35868000
3,2012,071320.KS,2809566616000,2498020325000,311546290000,7500284000,55353329000,0,1043171000,2566657440000,...,37595362000,-30000000,-346385810000,-4052560000,0,43646387000,-564191000,39029635000,0,34497664000
4,2018,005380.KS,96812609000000,81670479000000,15142130000000,1125603000000,11594362000000,0,0,94390444000000,...,2302476000000,26556000000,-2415064000000,-1127452000000,0,500941000000,200463000000,-880782000000,-79273000000,292096000000

In [28]:
df10=pd.read_csv("yearfinal.csv")
#credit은 데이터프레임2
credit=df10.dropna()
credit.shape

(190, 3)

In [29]:
dfking=pd.merge(d1,credit[['year','companyname','value']],
                  how='left',
                  on=['year', 'companyname'])
dfking.shape

(253, 79)

In [30]:
dfking=dfking.dropna()
dfking=dfking.drop_duplicates()
dfking.head()

,year,companyname,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Other Cash flows from Investing Activities,Total Cash Flows From Investing Activities,Dividends Paid,Sale Purchase of Stock,Net Borrowings,Other Cash Flows from Financing Activities,Total Cash Flows From Financing Activities,Effect Of Exchange Rate Changes,Change In Cash and Cash Equivalents,value
0,2018,071320.KS,2487330695000,2374123517000,113207177000,9642562000,80128592000,0,1688091000,2473164696000,...,1477780000,-434300755000,-32652058000,0,59818009000,-705614000,26460336000,0,-25425812000,700.0
1,2017,071320.KS,1834422361000,1625866796000,208555565000,9003795000,71812291000,0,1574215000,1715051434000,...,-3293082000,-651888338000,-43999227000,0,279806114000,-1215443000,234591444000,0,28115191000,700.0
4,2018,005380.KS,96812609000000,81670479000000,15142130000000,1125603000000,11594362000000,0,0,94390444000000,...,26556000000,-2415064000000,-1127452000000,0,500941000000,200463000000,-880782000000,-79273000000,292096000000,700.0
5,2017,005380.KS,96376079000000,78798172000000,17577907000000,1039260000000,11963980000000,0,0,91801412000000,...,36568000000,-4744413000000,-1138661000000,0,3215832000000,104020000000,2181191000000,-427759000000,931440000000,700.0
6,2016,005380.KS,93649024000000,75959720000000,17689304000000,1019188000000,11476616000000,0,0,88455524000000,...,2991000000,-6311750000000,-1084546000000,0,7124760000000,-87244000000,5691418000000,181994000000,558626000000,700.0

In [31]:
import pandas as pd
dfking.to_csv("csl20.csv", mode='w')